<h1>Comments#index</h1>
<p>Find me in app/views/comments/index.html.erb</p>

<form method="post" action="/comments/register">
	感想を入力してください。
	<input type="text" name="impression" />
	<input type="submit" value="送信" />
</form>