<h1>Comments#index</h1>

<div class="comment-form">
	<form method="post" action="/comments/register">
		<p>感想を自由に入力してください。 例.キレイ, キタナイ, なぜこの人？</p>
		<p>
			<input type="text" name="impression" />
			<input type="submit" value="送信" />
		</p>
		<% unless @err_msg.empty? then %>
		<p class="alert"><%= @err_msg %></p>
		<% end %>
	</form>
</div>
